
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}
body {
    position: relative;
    font-family: Hind,sans-serif;
}
.header {
    position: fixed;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 2;
    transition: 200ms ease;
}
.header_dark, .header_dark a, .header_dark a:visited {
    color: white;
}
.header_light a, .header_light a:visited {
    color: #515769;
}
.header_light {
    background-color: white;
}
.header_dark .header__logo-dark {
      display: none;
}
.header_light .header__logo-light {
    display: none;
}


.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.header__menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px
}
.header__menu-item{
    padding-left: 50px;
    font-size: 0.8rem;
    font-weight: bold;

}
.header__menu-link {
    text-decoration: none;
    position: relative;
}

.header__menu-link:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #17bed2;
    bottom: 0;
    transition: 200ms ease-in-out;
}
.header__menu-link:hover:before{
    width: 100%;
}
.header__menu-link_active:before {
    width: 100%;
}
.promo:before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(81, 87, 105, 0.4);
    position: absolute;
    content: "";
    z-index: -1;
}
.header__logo {

}
.promo {
    z-index: 1;
    background-size: cover;
    background: url("/landing_page_practice/img/01.jpg") center no-repeat;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.promo__title {
    color: #fff;
    font-size: 70px;
    margin-bottom: 15px;
    font-weight: 1000;
}
.promo__quote {
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 35px;
}
.promo-video {
    font-size: 15px;
    font-weight: 600;
    padding: 15px 20px;
    color: #515769;
    background: #fff;
    user-select: none;
    text-transform: uppercase;
    text-decoration: none;
    transition: 200ms ease-in-out;
}
.promo-video__content {
    display: table-cell;
    vertical-align: bottom;
    height: 28px;
}
.promo-video:hover {
    background-color: #17bed2;
    color:white;
}
.promo-video__icon {
    margin-right: 10px;
}
